#wrap-content{
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
}
   
    #wrap-tareas {
        display: grid;
        justify-items: center;
        gap: 1em;

    }
    #wrap-tareas h2 {
        height: 50px;
    }
        #wrap-tareas #wrap-encabezado-tareas {
            text-align: center;
        }
        #wrap-tareas .wrap-contador-tareas {
            display: grid;
            grid-template-areas: 
            "arriba arriba"
            "izquierda derecha";
        }
        #wrap-tareas .wrap-contador-tareas *:first-child {
            grid-area: arriba;
        }
    
        